@model MvcTemplate.Web.ViewModels.Home.JokeViewModel
@{
    ViewBag.Title = "ById";
}

<div>
    @Model.Content
</div>
<div>
    Category: @Model.Category
</div>
@Html.ActionLink("Edit", "edit", new { id = Model.EncodedId })
