@{
    this.ViewBag.Title = "Reset password confirmation";
}

<hgroup class="title">
    <h1>@(this.ViewBag.Title).</h1>
</hgroup>
<div>
    <p>
        Your password has been reset. Please @(this.Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }))
    </p>
</div>
