<h2>TODO Items</h2>

<p>
    <a routerLink="/user/todo-item-create">Create New</a>
</p>

<div *ngIf="errorMessage" class="text-danger">{{errorMessage}}</div>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Is Done?</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="!todoItems.length">
            <td colspan="3" class="text-center">
                <em>No TODO items...</em>
            </td>
        </tr>

        <tr *ngFor="let todoItem of todoItems">
            <td>{{todoItem.title}}</td>
            <td>
                <span *ngIf="todoItem.isDone" class="label label-success">Yes</span>
                <span *ngIf="!todoItem.isDone" class="label label-warning">No</span>
            </td>
            <td>
                <button *ngIf="!todoItem.isDone" (click)="markAsDone(todoItem)" class="btn btn-sm btn-success">
                    Mark as Done
                </button>
            </td>
        </tr>
    </tbody>
</table>
