@model AspNetCoreTemplate.Web.ViewModels.Settings.SettingsListViewModel

@{
    ViewData["Title"] = "Settings";
}

<h1>Settings</h1>

@foreach (var setting in Model.Settings)
{
    <div>@setting.Id: @setting.Name = @setting.Value</div>
}