<h2>Register</h2>

<form class="form-horizontal" ngNativeValidate #registerForm="ngForm">
    <h4>Create a new account.</h4>
    <hr />
    <div *ngIf="errorMessage" class="text-danger">{{errorMessage}}</div>
    <div class="form-group">
        <label for="email" class="col-md-2 control-label">Email</label>
        <div class="col-md-10">
            <input type="email" id="email" name="email" [(ngModel)]="userRegister.email"
                   placeholder="Email" class="form-control" required />
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-md-2 control-label">Password</label>
        <div class="col-md-10">
            <input type="password" id="password" name="password" [(ngModel)]="userRegister.password"
                   placeholder="Password" class="form-control" required />
        </div>
    </div>
    <div class="form-group">
        <label for="passwordConfirmation" class="col-md-2 control-label">Confirm password</label>
        <div class="col-md-10">
            <input type="password" id="passwordConfirmation" name="passwordConfirmation"
                   [(ngModel)]="userRegister.passwordConfirmation"
                   placeholder="Confirm password" class="form-control" required />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input [disabled]="!registerForm.valid" type="submit" (click)="register()"
                   class="btn btn-default" value="Register" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <p>
                <a routerLink="/account/login">Log in with an existing user</a>
            </p>
        </div>
    </div>
</form>
