@model IEnumerable<MvcTemplate.Data.Models.Joke>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @foreach (var joke in Model)
    {
        <div class="col-md-4">
            @joke.Content
        </div>
    }
</div>