<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net46" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net46" />
  <package id="MvcRouteTester.Mvc5.2" version="2.0.1" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net46" />
  <package id="NUnit" version="3.0.1" targetFramework="net46" />
  <package id="StyleCop.Analyzers" version="1.0.0" targetFramework="net46" developmentDependency="true" />
  <package id="System.Web.Http.Common" version="4.0.20126.16343" targetFramework="net46" />
</packages>