<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- TODO: <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">AspNetCoreTemplate.Web</a>-->
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <!-- TODO: <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>-->
            </ul>
        </div>
    </div>
</nav>
