@using Microsoft.AspNet.Identity
@if (this.Request.IsAuthenticated)
{
    using (this.Html.BeginForm("LogOff", "Account", new { area = string.Empty }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @(this.Html.AntiForgeryToken())

        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                @(this.Html.ActionLink("Hello " + this.User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: new { area = string.Empty }, htmlAttributes: new { title = "Manage", @class = "nav-link" }))
            </li>
            <li class="nav-item active">
                <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">Log off</a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav">
        <li class="nav-item active">@(this.Html.ActionLink("Register", "Register", "Account", routeValues: new { area = string.Empty }, htmlAttributes: new { id = "registerLink", @class = "nav-link" }))</li>
        <li class="nav-item active">@(this.Html.ActionLink("Log in", "Login", "Account", routeValues: new { area = string.Empty }, htmlAttributes: new { id = "loginLink", @class = "nav-link" }))</li>
    </ul>
}
