@using Microsoft.AspNet.Identity
@if (this.Request.IsAuthenticated)
{
    using (this.Html.BeginForm("LogOff", "Account", new { area = string.Empty }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @(this.Html.AntiForgeryToken())

        <ul class="nav navbar-nav navbar-right">
            <li>
                @(this.Html.ActionLink("Hello " + this.User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: new { area = string.Empty }, htmlAttributes: new { title = "Manage" }))
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@(this.Html.ActionLink("Register", "Register", "Account", routeValues: new { area = string.Empty }, htmlAttributes: new { id = "registerLink" }))</li>
        <li>@(this.Html.ActionLink("Log in", "Login", "Account", routeValues: new { area = string.Empty }, htmlAttributes: new { id = "loginLink" }))</li>
    </ul>
}
